/* Stylesheet for index.html, meeting minutes website */

/* Style NavBar */

body{
    margin: 0px;
}

#navbar{
    margin: 5px 0 0 5px;
    padding: 0px;
    border-width: 0px;
    display: flex;
    width: 100%;  
    justify-content: center;
}
.nav-element{
    display: inline;
    padding: 10px;
    margin: 0 20px 0 20px;
    background-color: white;
    width: 200px;
    text-align: center;
    text-decoration: none;
    color: black;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}
.nav-element:hover {
    background-color: grey;
}