/* Stylesheet for index.html, meeting minutes website */

/* Style NavBar */

body, header, footer{
    margin: 0px;
}

h1, h2, h3{
    font-family: "Roboto";
}
#navbar{
    position: sticky;
    top: 5px;
    padding: 0px;
    border-width: 0px;
    display: flex;
    width: 100%;  
    justify-content: center;
}
a.nav-element{
    display: inline;
    padding: 10px;
    margin: 0 20px 0 20px;
    background-color: rgba(56, 100, 69, 0.666);
    width: 200px;
    text-align: center;
    text-decoration: none;
    color: black;
    border-color: black;
    border-width: .15em;
    border-style: solid;
    border-radius: 30px;
}
a[href="https://www.github.com"]{
    order:1;
}
#drive-link{
    order:-1;
}
#slack-link{
    flex-grow: 2;
    order: 0;
}
.nav-element:hover {
    background-color: rgba(78, 156, 96, 0.945);
}


/* Title Area */
#title-container{
    width: 70vw;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto;
    justify-content: center;
    background-color: rgb(116, 195, 178);
}
#title{
    place-self: center;
    justify-content: center;
}
#attendance{
    place-self: center;
}

#attendance > ul{
    list-style-type: CIRCLE;
}
#attendance li{
    color: #0b0b2d
}
.attendee ~ .absentee{
    font-weight: bold;
    font-style: italic;
    text-decoration: line-through;
}

hr{
    display: block;
    max-height: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto; 
    margin-right: auto;
    width: 70vw;
}


/*Agenda Section*/
#agenda{
    box-shadow: 0px 0px 31px -6px rgba(0,0,0,0.75) inset;
    width: 70vw;
    margin: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 40px 200px;
    grid-template-areas: 
        ". title ."
        "section1 section2 section3";

}
@media (max-width: 550px){
    #agenda{
        width: 100vw;
    }
}
#agenda h3{
    text-align: center;
    place-self: center;
    grid-area: title;
}

#agenda details{
    place-self: center;
}
#agenda #item1{
    grid-area: section1;
}
#agenda #item2{
    grid-area: section2;
}
#agenda #item3{
    grid-area: section3;
}

/* Media Section */
.media{
    margin: auto;
    display: grid;
    width: 70vw;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    place-items: center;
    grid-template-areas:
    "recording other-media"
    

}
video + p{
    font-style: italic;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 0px;
}
audio + p{
    font-style: italic;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 0;
}
#meeting-recording{
    grid-area: recording;
}

#extra-media{
    grid-area: other-media;
    width: 80%;
    align-items: center;
}
#extra-media *{
    max-width: 100%;
    min-width: 50%;
    height: auto;
}

a:active {
    box-shadow: 2px 2px 5px hsla(217, 71%, 49%, 0.443);
}



footer h3{
    position: relative;
    left: 45vw;
    width: 10vw;
    text-align: center;
}